<div class="row g-5 mb-5">
  <div>
    {% if page.title == "Home" %}
      <h3 class="fw-bold border-bottom pb-3 mb-5">Recent Posts</h3>
      <div class="row g-5 mb-5">
        <div class="col-md-12">
          {% for post in site.posts %}
            {% if post.recents == "y" %}
              <p><a href="{{ site.github.url }}{{ post.url }}">{{ post.title }}</a> - {{ post.date | date: "%B %-d, %Y" }}</p>
            {% endif %}
          {% endfor %}
        </div>
      </div>
    {% else %}
      <h3 class="fw-bold border-bottom pb-3 mb-5">Categories</h3>
      <div class="row g-5 mb-5">
        <div class="col-md-12">
          <p><a href="{{ site.github.url }}/blog/new">New</a></p>
          <p><a href="{{ site.github.url }}/blog/test">Test</a></p>
        </div>
      </div>
    {% endif %}
  </div>
</div>
