<div class="row g-5 mb-5">
  <div>
    <h3 class="fw-bold border-bottom pb-3 mb-5">Contact</h3>
    {% for contact in site.data.settings.contacts %}
    <div class="row g-5 mb-5">
      <div class="col-md-4">
        <img src="{{ site.github.url }}/{{ contact.image }}" alt="Contact" width="100%">
      </div>
      <div class="col-md-8">
        <h4>Jiho Choi</h4>
        <p>Senior Undergraduate Student</p>
        <p>Majoring in Electrical and Electronic Engineering</p>
        <p>Yonsei University | 50 Yonsei-ro, Seodaemun-gu, Seoul, South Korea 03722</p>
        <p>Email: <a href="mailto:jihochoi@yonsei.ac.kr">jihochoi {\at} yonsei {\dot} ac {\dot} kr</a></p>
      </div>
      <!-- <div class="col-md-?">
        <img src="{{ site.github.url }}/{{ contact.image }}" alt="Contact" width="100%">
      </div> -->
    </div>
    {% endfor %}
  </div>
</div>
