<header class="d-flex flex-column flex-md-row align-items-center pb-3 mb-5 border-bottom">
  <div>
    <a href="{{ site.github.url }}/" class="d-flex align-items-center text-decoration-none">
      <span class="fs-4 fw-bold">{{ site.title }}</span>
    </a>
    <a href="{{ site.github.url }}/" class="d-flex align-items-center text-decoration-none">
      <span>{{ site.description }}</span>
    </a>
  </div>
  <div class="d-inline-flex mt-2 mt-md-0 ms-md-auto dropdown">
      <button class="d-inline-flex me-3 py-2">blog</button>
        <div class="menu">
          <a href="{{ site.github.url }}/blog/new">new</a>
          <a href="{{ site.github.url }}/blog/test">test</a>
        </div>
      <a class="me-3 py-2 text-decoration-none" href="{{ site.github.url }}/projects">projects</a>
      <a class="me-3 py-2 text-decoration-none" href="{{ site.github.url }}/publications">publications</a>
      <a class="me-3 py-2 text-decoration-none" href="{{ site.github.url }}/cv">cv</a>
      <a class="me-3 py-2 text-decoration-none" href="{{ site.github.url }}/contact">contact</a>
  </div>
</header>
