---
layout: default
---

<div class="row justify-content-center about">
  <div class="col-sm-6 profile">
    <img src="{{ site.github.url }}/assets/images/profile.JPG" alt="Jiho Choi" width="100%">
  </div>
  <div class="col-sm-5">
    <h2 style="margin-top: 0.5rem;">Jiho Choi</h2>
    <h5>B.S. in Electrical and Electronic Engineering, Yonsei University</h5>
    <div class="icons" style="text-align: center;">
      <a href="mailto:jihochoi@yonsei.ac.kr"><i class="fas fa-envelope fa-2x"></i></a>
      <a href="https://github.com/jihochoiii" target="_blank" class="ms-1"><i class="fab fa-github fa-2x"></i></a>
      <a href="https://www.linkedin.com/in/jihochoiii/" target="_blank" class="ms-1"><i class="fab fa-linkedin fa-2x"></i></a>
      <a href="{{ site.github.url }}/assets/pdf/jihochoi.pdf" target="_blank" class="ms-1"><i class="ai ai-cv ai-2x"></i></a>
    </div>
  </div>
</div>

<div>
  <p style="margin-top: 0.25rem;">I am currently the Chief Technology Officer (CTO) at MEGA. MEGA is a South Korea–based climate tech startup delivering innovative energy management and Demand Response (DR) solutions for residential customers. I earned my bachelor's degree in <a href="https://ee.yonsei.ac.kr/ee_en/" target="_blank">Electrical and Electronic Engineering</a> from <a href="https://www.yonsei.ac.kr/sites/en_sc/" target="_blank">Yonsei University</a> in February 2025. For additional
details, you may refer to my <a href="{{ site.github.url }}/assets/pdf/jihochoi.pdf" target="_blank">CV</a> (as of August 2025).</p>
  <p>Outside of work, I spend my free time traveling around the world. I've been to &#x1F1F0;&#x1F1F7;&#x1F1E8;&#x1F1F3;&#x1F1F8;&#x1F1EC;&#x1F1EF;&#x1F1F5;&#x1F1FA;&#x1F1F8;&#x1F1E8;&#x1F1E6;&#x1F1F9;&#x1F1FC;&#x1F1ED;&#x1F1F0; so far. I love playing the guitar and listening to rock music. <a href="https://www.youtube.com/@blink182VEVO">Blink-182</a> and <a href="https://www.youtube.com/@bleachers">Bleachers</a> are my favorites!</p>
  <p>The best way to reach me is at <a href="mailto:jihochoi@yonsei.ac.kr">jihochoi at yonsei dot ac dot kr</a>.</p>
</div>

<div class="section_header">
  <h4>Education</h4>
  <hr>
</div>
<b>Yonsei University</b>, Seoul, South Korea
<div class="items">
  <p>B.S. in Electrical and Electronic Engineering</p>
  <i>Mar. 2020 – Feb. 2025</i>
</div>
<b>Nanyang Technological University</b>, Singapore
<div class="items">
  <p>Visiting Student Program, Entrepreneurship and Innovation</p>
  <i>June 2024 – July 2024</i>
</div>
<b>University of California, Los Angeles</b>, Los Angeles, United States
<div class="items">
  <p>Exchange Student Program, Electrical Engineering</p>
  <i>Jan. 2023 – June 2023</i>
</div>
<b>Gyeongnam Science High School</b>, Jinju, South Korea
<div class="items">
  <p>High School Diploma</p>
  <i>Mar. 2017 – Feb. 2020</i>
</div>

<div class="section_header">
  <h4>Experience</h4>
  <hr>
</div>
<b>Co-Founder & Chief Technology Officer</b>
<div class="items">
  <p>MEGA, Seoul, South Korea</p>
  <i>Mar. 2024 – Present</i>
</div>
<b>Research Intern</b>
<div class="items">
  <p>NetZero LAB, Gwangmyeong, South Korea</p>
  <i>July 2024 – Oct. 2024</i>
</div>
<b>Undergraduate Researcher</b>
<div class="items">
  <p><a href="http://corelab.yonsei.ac.kr/" target="_blank">Compiler Optimization Research Lab</a>, Yonsei University</p>
  <i>Jan. 2024 – June 2024</i>
</div>

<div class="section_header">
  <h4>Teaching</h4>
  <hr>
</div>
<div class="items">
  <p><b>ENG1108 Engineering Information Processing</b>, Teaching Assistant, Yonsei University</p>
  <i>Fall 2024</i>
</div>

<div class="section_header">
  <h4>Honors and Awards</h4>
  <hr>
</div>
<div style="display: flex; justify-content: space-between;">
  <p><b>Excellence Award</b>, Women in Science, Engineering and Technology in Korea (WITECK)</p>
  <i>2024</i>
</div>
<div style="display: flex; justify-content: space-between;">
  <p><b>Excellence Award</b>, Yonsei-Asan UniverCT Demo Day</p>
  <i>2024</i>
</div>
<div style="display: flex; justify-content: space-between;">
  <p><b>Yonsei-Asan UniverCT Startup Business Grant</b>, Asan Nanum Foundation</p>
  <i>2024</i>
</div>
<div style="display: flex; justify-content: space-between;">
  <p><b>Mirae Asset Study Abroad Scholarship</b>, Mirae Asset Park Hyeon Joo Foundation</p>
  <i>2023</i>
</div>
<div style="display: flex; justify-content: space-between;">
  <p><b>Academic High Honors</b>, Yonsei University</p>
  <i>2021</i>
</div>
<div style="display: flex; justify-content: space-between;">
  <p><b>Academic Honors</b>, Yonsei University</p>
  <i>2020</i>
</div>

<div class="section_header">
  <h4>Technical Skills</h4>
  <hr>
</div>
<ul>
  <li><b>Advanced</b>: C, C++, Assembly (RISC-V, x86-64), Verilog, Vivado/Vitis, Arduino, HTML, CSS</li>
  <li><b>Intermediate</b>: CUDA, LLVM, Git, LaTeX, Python, MATLAB, PSpice</li>
</ul>

<div class="section_header">
  <h4>Language Proficiency</h4>
  <hr>
</div>
<ul>
  <li>Native in <b>Korean</b></li>
  <li>Fluent in <b>English</b>; 111 on TOEFL iBT (Test Date: Aug. 03, 2024)</li>
</ul>
