---
layout: default
---

<div class="profile float-end">
  <img src="{{ site.github.url }}/assets/images/profile.JPG" alt="Profile Photo" width="100%">
  <div class="icons" style="margin-top: 1.125rem; text-align: center;">
    <a href="mailto:jihochoi@yonsei.ac.kr"><i class="fas fa-envelope fa-2x"></i></a>
    <a href="https://github.com/jihochoiii" target="_blank" class="ms-1"><i class="fab fa-github fa-2x"></i></a>
    <a href="https://www.linkedin.com/in/jihochoiii/" target="_blank" class="ms-1"><i class="fab fa-linkedin fa-2x"></i></a>
    <a href="{{ site.github.url }}/assets/pdf/jihochoi.pdf" target="_blank" class="ms-1"><i class="ai ai-cv ai-2x"></i></a>
  </div>
</div>
<h1>Jiho Choi</h1>
<p style="margin-bottom: 1rem;">Undergraduate Student in EE @ Yonsei University</p>
<p>I am a senior undergraduate student majoring in <a href="https://ee.yonsei.ac.kr/ee_en/" target="_blank">Electrical and Electronic Engineering</a> at <a href="https://www.yonsei.ac.kr/en_sc/" target="_blank">Yonsei University</a>. I am currently a research intern at NetZero LAB, advised by <a href="https://scholar.google.com/citations?hl=en&user=sQb5hZsAAAAJ" target="_blank">Prof. Heejin Kim</a>. Prior to joining NetZero LAB, I was an undergraduate researcher at <a href="http://www.corelab.or.kr/index.php" target="_blank">Compiler Optimization Research Lab</a> and was very fortunate to be advised by <a href="http://corelab.or.kr/~hanjun/" target="_blank">Prof. Hanjun Kim</a>.</p>
<p>I am interested in <span style="font-weight: 400;">hardware/software co-design to improve the performance, efficiency, security, and environmental sustainability of computer systems</span>. My primary interests include, but are not limited to, <span style="font-weight: 400;">computer architecture, FPGAs, memory systems, compilers, and operating systems</span>.</p>
<p>The best way to reach me is at <a href="mailto:jihochoi@yonsei.ac.kr">jihochoi at yonsei dot ac dot kr</a>.</p>
