---
layout: default
---

{{ content }}

<div class="row g-5 mb-5">
  <div>
    <h3 class="fw-bold border-bottom pb-3 mb-5">CV</h3>
    <div class="row g-5 mb-5">
      <div class="col-md-2">
        <h4>Education</h4>
      </div>
      <div class="col-md-10">
        <div class="row g-3 mb-3">
          <p><b>B.S., Electrical and Electronic Engineering</b></p>
          <p><b>Yonsei University</b>, <em>Seoul, South Korea (Mar. 2020 - Present)</em></p>
        </div>
        <div class="row g-3 mb-3">
          <p style="line-height: 1.5;"><b>Undergraduate Exchange Student, Electrical Engineering</b></p>
          <p style="line-height: 2.0;"><b>University of California, Los Angeles</b>, <em>Los Angeles, CA (Jan. 2023 - Jun. 2023)</em></p>
        </div>
        <div class="row g-3 mb-3">
          <p style="line-height: 1.5;"><b>High School Diploma</b></p>
          <p style="line-height: 2.0;"><b>Gyeongnam Science High School</b>, <em>Jinju, South Korea (Mar. 2017 - Jan. 2020)</em></p>
        </div>
      </div>
    </div>
  </div>
</div>
