---
layout: default
---

<div class="content">
  <div class="profile float-end">
    <img src="{{ site.github.url }}/assets/images/profile.JPG" alt="Profile Photo" width="100%">
  </div>
  <h1>Jiho Choi</h1>
  <p>Undergraduate Student in the <a href="https://ee.yonsei.ac.kr/ee_en/">School of Electrical and Electronic Engineering</a>, <a href="https://www.yonsei.ac.kr/en_sc/">Yonsei University</a></p>
  <p class="mb-1" style="font-size: 0.9rem;"><span style="color: #a75e72;">Office</span>. A608, 190 Soha-ro, Gwangmyeong-si, Gyeonggi-do 14322, South Korea</p>
  <p style="font-size: 0.9rem;"><span style="color: #a75e72;">Email</span>. jihochoi {\at} yonsei {\dot} ac {\dot} kr</p>
  <h2 class="mt-5">about me</h2>
  <p>I am a senior undergraduate student majoring in <a href="https://ee.yonsei.ac.kr/ee_en/">Electrical and Electronic Engineering</a> at <a href="https://www.yonsei.ac.kr/en_sc/">Yonsei University</a>. I am currently working as a research intern at NetZero LAB under the supervision of <a href="https://scholar.google.com/citations?hl=en&user=sQb5hZsAAAAJ">Dr. Heejin Kim</a>. My research at NetZero LAB mainly focuses on demand response and its applications. Prior to joining NetZero LAB, I worked as an undergraduate researcher at <a href="http://www.corelab.or.kr/index.php">Compiler Optimization Research Lab (CoreLab)</a>, advised by <a href="http://corelab.or.kr/~hanjun/">Prof. Hanjun Kim</a>. My focus of study at CoreLab was trusted execution environments, strengthening my interest in computer architecture and security.</p>
  <p>I am currently looking for a PhD position starting in Fall 2025. My primary research interests are <span style="font-weight: 400; color: #a75e72;">security and parallelism</span> in the following domains: <span style="font-weight: 400; color: #a75e72;">computer architecture, compilers, operating systems, and embedded systems</span>.</p>
  <p>In my free time, I usually go to the gym or watch TV shows. Also, I love hiking, skating, traveling, and taking pictures.</p>
  <p style="margin-bottom: 2.5rem;">If you are interested in me or any of my projects, please feel free to reach me via <a href="mailto:jihochoi@yonsei.ac.kr">email</a>.</p>
  <div class="icons" style="text-align: center;">
    <a href="mailto:jihochoi@yonsei.ac.kr"><i class="fas fa-envelope fa-3x"></i></a>
    <a href="https://github.com/jihochoiii" class="ms-2"><i class="fab fa-github fa-3x"></i></a>
    <a href="https://www.linkedin.com/in/jihochoiii/" class="ms-2"><i class="fab fa-linkedin fa-3x"></i></a>
    <a href="{{ site.github.url }}/assets/pdf/jihochoi.pdf" target="_blank" class="ms-2"><i class="ai ai-cv ai-3x"></i></a>
  </div>
</div>
