---
layout: default
---

<div class="section_header" style="margin-top: 0;">
  <h4>Projects</h4>
  <hr>
</div>
<div class="row">
  <div class="col-sm-4 images">
    <img src="{{ site.github.url }}/assets/images/mandelbrot.JPG" alt="Mandelbrot" width="100%">
  </div>
  <div class="col-sm-8">
    <p class="mb-1" style="font-weight: 400;">FPGA-Based Mandelbrot Set Explorer</p>
    <p class="mb-1">A simple Verilog implementation of the Mandelbrot set explorer for the PYNQ-Z2 dev board</p>
    <p><a href="https://github.com/jihochoiii/fpga-mandelbrot" target="_blank"><i class="fa-solid fa-code"></i></a></p>
  </div>
</div>
