---
layout: default
---

<h2 class="mb-5">projects</h2>
<div class="row">
  <div class="col-sm-4 col-md-3 images">
    <img src="{{ site.github.url }}/assets/images/mandelbrot.JPG" alt="Mandelbrot" width="100%">
  </div>
  <div class="col-sm-8 col-md-9">
    <p class="mb-1" style="font-weight: 400;">FPGA-Based Mandelbrot Set Explorer</p>
    <p style="margin-bottom: 0.75rem;">A simple Verilog implementation of the <a href="https://en.wikipedia.org/wiki/Mandelbrot_set" target="_blank">Mandelbrot set</a> explorer for the PYNQ-Z2 development board</p>
    <p style="font-size: 0.9rem;">[ <a href="https://github.com/jihochoiii/fpga-mandelbrot" target="_blank">Code</a> ]</p>
  </div>
</div>
